$primary-color: #27ae60;
$primary-color-contrast: #f3f3f3;
$primary-color-hover: green;

$primary-background-color: #aed9b0;
$primary-background-color-contrast: #5a5959;

$danger-color: #d53f3f;
$danger-color-contrast: #f3f3f3;
$danger-color-hover: red;
